header{
  padding: 50px;
  text-align: center;
}

p{
  text-align: center;
  font-size: 25px;
  color: black;
  padding: 20px
}

h1{
  text-align: center;
  color: grey;
  padding: 20px;
}

hr{
  border: 1px solid black;
  margin: auto;
}

.box-lilac{
    display: flex;
    flex-wrap: wrap;
    background-color: black;
    justify-content: center;
}

img{
  border: 1px solid black;
}