header{
  padding: 50px;
  text-align: center;
  outline: 2px solid black;
}

p{
  text-align: center;
  font-size: 25px;
  color: black;
  padding: 20px
}

h1{
  text-align: center;
  color: grey;
  padding: 20px;
}

hr{
  border: 1px solid black;

  margin: auto;
}

.image-row {
  display: flex;
  gap: 10px;        
  justify-content: center; 
  align-items: center;
  padding: 60px;
}

.image-row img {
  width: 600px;
  height: auto;
}